@font-face {
  font-family: "barlow-500";
  src: url(../fonts/barlow/BarlowSemiCondensed-Medium.ttf);
}
@font-face {
  font-family: "barlow-600";
  src: url("../fonts/barlow/BarlowSemiCondensed-SemiBold.ttf");
}
