:root {
  --color-praimery-0: hsl(0, 0%, 100%);
  --color-praimery-50: hsl(0, 0%, 50%);

  --color-praimery-200: hsl(217, 19%, 35%);
  --color-praimery-300: hsl(263, 55%, 70%);
  --color-praimery-400: hsl(263, 55%, 52%);
  --color-praimery-600: hsl(219, 29%, 14%);

  --color-neutral-100: hsl(210, 46%, 95%);
  --color-neutral-200: hsl(0, 0%, 81%);
}
