@import url("./css/varieble.css");
@import url("./css/reset.css");
@import url("./css/fonts.css");
@import url("./css/lyout.css");
html {
  font-family: "barlow-500";
}

/* .big-img {
  padding: 2rem;
  background-image: url("./images/bg-pattern-quotation.svg");
} */
.card-header {
  display: flex;
  flex-direction: column;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: red;
}
img {
  width: 100%;
  height: 100%;
}
